[submodule "tools/polly"]
	path = tools/polly
	url = https://github.com/cpp-pm/polly
[submodule "tools/gate"]
	path = tools/gate
	url = https://github.com/cpp-pm/gate
[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/google/googletest.git
